<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8"/>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

    <link rel="stylesheet" th:href="@{/css/default.css}"/>

    <title th:text="#{ru.page.default.title.success.registration}">Main</title>

</head>
<body>
<div>
    <h1>SUCCESS REGISTRATION PAGE</h1>
    <h2 th:text="#{ru.page.default.text.success.registration}"></h2>
    <h2 th:text="#{ru.page.default.text.success.registration.email}"></h2>

    <a type="button" class="btn-danger" th:href="@{/}" th:text="#{ru.button.default.text.auth}">Authing</a>
</div>
</body>
</html>