.main-title{
    text-align: center;
    font-size: 35px;
}

.login-input{
    margin-bottom: 10px;
    margin-top: 10px;
    width: 350px;
}

.password-input{
    margin-bottom: 10px;
    margin-top: 10px;
    width: 350px;
}

.full-name-input{
    margin-bottom: 10px;
    margin-top: 10px;
    width: 350px;
}

.email-input{
    margin-bottom: 10px;
    margin-top: 10px;
    width: 350px;
}

.registration-button{
    margin-bottom: 10px;
    margin-top: 10px;
    width: 350px;
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}